extends layout

block content
  h1= title
  p Welcome to #{title}, web applications and services
  <button type="button" class="btn btn-sUCCESS">Left</button>
  Turns into
  button(type="button", class="btn btn-success")Left

